body {
  margin: 0;
  font: 16px/1 sans-serif;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  margin: 0 0 5px 0;
  border-bottom: 1px solid #56ADD2;
}

h4{
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
}
/* menu ul{
  margin: 0;
  padding: 0;
} */
menu li {
  display: inline-block;
  padding: 5px;
  border: none;
}
a.active {
  color: #444;
  font-weight: bold;
  text-decoration: none;
}
header {
  padding: 10px;
  background-color: #333;
  color: #ccc;
  font-size: 20px;
  font-weight: bold;
}
menu {
  background-color: #ccc;
  padding: 5px;
  margin-top: 0;
  margin-bottom: 10px;
}

.question{
  border: 1px solid burlywood;
  padding: 10px;
  margin-top: 10px;
}
.question header{
  background-color: #56ADD2;
  color: #fff;
}


